# This is a basic workflow to help you get started with Actions

name: publish-docs

# Controls when the action will run. 
on:
  # Triggers the workflow on push or pull request events but only for the main branch
  push:
    branches: [ main ]
    paths:
      - 'vk.asd'
      - 'README.md'
      - 'src/**'

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  publish-docs:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      - name: Setup environment
        run: |
          ### Install Vulkan SDK
          # Add lunarg apt sources
          wget -qO - https://packages.lunarg.com/lunarg-signing-key-pub.asc | sudo apt-key add -
          sudo wget -qO /etc/apt/sources.list.d/lunarg-vulkan-focal.list https://packages.lunarg.com/vulkan/lunarg-vulkan-focal.list
          
          # Update package lists
          sudo apt-get update -qq
          
          # Install dependencies
          sudo apt-get install -y \
            vulkan-sdk
          
          ### Install SBCL & Quicklisp
          sudo apt-get install sbcl
          curl -O https://beta.quicklisp.org/quicklisp.lisp
          curl -O https://beta.quicklisp.org/quicklisp.lisp.asc
          sbcl \
            --non-interactive \
            --load quicklisp.lisp \
            --eval '(quicklisp-quickstart:install)' \
            --eval '
              (let ((ql-util::*do-not-prompt* t))
                (ql:add-to-init-file)
                (sb-ext:quit))
            '

      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2

      - name: Copy project to quicklisp local-projects
        run: |
          cp -r ../${{ github.event.repository.name }} ~/quicklisp/local-projects

      - name: Build docs
        run: |
          sbcl \
            --non-interactive \
            --eval '(ql:quickload :staple)' \
            --eval '(ql:quickload :staple-markdown)' \
            --eval '(ql:quickload :vk)' \
            --eval '
              (progn
                (staple:generate :vk)
                (sb-ext:quit))
            '

      - name: Deploy docs
        uses: JamesIves/github-pages-deploy-action@4.1.0
        with:
          branch: gh-pages # The branch the action should deploy to.
          folder: ~/quicklisp/local-projects/vk/docs # The folder the action should deploy.
